{% extends 'home_nav.html' %}
{% block title %}
    <title>添加操作</title>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">充值</h3>
        </div>
        <div class="panel-body">
            <form action="/home/mine/add" method="POST">
                <div class="form-group">
                    <label for="exampleInputName2">卡号</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="卡号" name="CardId">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">用户名字</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="名字" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">密码</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="密码" name="password">
                </div>
                <button type="submit" class="btn-mine">添加</button>
            </form>
            {% if not session['add_ok'] %}
                <div style="margin-top:10px;color:red;">{{ get_flashed_messages()[0] }}</div>
            {% endif %}
        </div>
    </div>

{% endblock %}