<link rel="stylesheet" href="../static/style.css" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap--dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap--dist/css/bootstrap-theme.min.css') }}">
{% block head %}
    <title>我的</title>
{% endblock %}

{% block body %}
        {#信息部分#}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">用户信息</h3>
            </div>
            <table class="table table-hover">
                <tr class="active">
                    <th>编号</th>
                    <th>账号</th>
                    <th>邮箱</th>
                    <th>密码</th>
                </tr>
                <tr class="active">
                    <th>{{ User_obj.id }}</th>
                    <th>{{ User_obj.accountId }}</th>
                    <th>{{ User_obj.email }}</th>
                    <th>{{ User_obj.password }}</th>
                </tr>
            </table>

        </div>

        {#    银行卡信息#}
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">银行卡信息</h3>
            </div>

            <table class="table table-hover">
                <tr class="success">
                    <th>银行卡账号</th>
                    <th>用户账号</th>
                    <th>用户名字</th>
                    <th>密码</th>
                    <th>余额</th>
                </tr>
                {% for  item in Card_obj_list %}
                    <tr class="success">
                        <th>{{ item.CardId }}</th>
                        <th>{{ item.accountId }}</th>
                        <th>{{ item.name }}</th>
                        <th>{{ item.password }}</th>
                        <th>{{ item.money }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {#        充值信息#}
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">充值记录</h3>
            </div>

            <table class="table table-hover">
                <tr class="success">
                    <th>编号</th>
                    <th>用户账号</th>
                    <th>卡号</th>
                    <th>日期</th>
                    <th>金额</th>
                </tr>
                {% for  item in Deposit_obj_list %}
                    <tr class="success">
                        <th>{{ item.id }}</th>
                        <th>{{ item.accountId }}</th>
                        <th>{{ item.CardId }}</th>
                        <th>{{ item.datetime }}</th>
                        <th>{{ item.money }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {#    转账记录#}
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">转账记录</h3>
            </div>

            <table class="table table-hover">
                <tr class="success">
                    <th>编号</th>
                    <th>用户账号</th>
                    <th>转出卡号</th>
                    <th>接收卡号</th>
                    <th>日期</th>
                    <th>金额</th>
                </tr>
                {% for  item in Transfer_obj_list %}
                    <tr class="success">
                        <th>{{ item.id }}</th>
                        <th>{{ item.accountId }}</th>
                        <th>{{ item.my_CardId }}</th>
                        <th>{{ item.other_CardId }}</th>
                        <th>{{ item.datetime }}</th>
                        <th>{{ item.money }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>


{% endblock %}