{% extends 'home_nav.html' %}
{% block title %}
    <title>更新操作</title>
{% endblock %}

{% block content %}
    {% for item in new_obj_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">更新银行卡信息</h3>
            </div>
            <div class="panel-body">
                <form action="/home/mine/update/card" method="POST">
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="{{ item.password }}"
                               name="password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">确认密码</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="确认密码"
                               name="sure_password">
                    </div>
                    <button type="submit" class="btn-mine">修改</button>
                </form>
                {% if session['update_card_flash'] %}
                    <div style="margin-top:10px;color:red;">{{ get_flashed_messages()[0] }}</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}